/* add home page styles here */
.top-buttons {
    display: flex;
    flex-direction: row;
}
#climate-select {
    margin: 20px;
}

#known-for-select {
    margin: 20px;
}

#activities-select {
    margin: 20px;
}

#input {
    display: flex;
    flex-direction: row;
}

/* #climate-section {
    width: 100px;
    height: 100px;
    background-image: url('../assets/desert.jpg');     */
}